{% extends "layout/main.twig.html" %}
{% block content %}

<div class="row container">
	<a class="allowance_create btn-add-branch btn btn-success" href="#" data-toggle="modal" data-target="#addNewAllowance">
    <i class="fa fa-plus"></i>
  </a>
  <div class="dropdown inline" >
    <a data-toggle="dropdown" href="#" class=" btn btn-default">
      <i class="fa fa-gear"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li>
        <a href="/settings/allowances/trash">View Deleted Allowances</a>
      </li>
      <li>
        <a href="/settings/allowances/">View Current Allowances</a>
      </li>
    </ul>   
  </div>
	{% if message != null %}
	<div class="col-md-12 alert alert-success alert-dismissable">
    <i class="fa fa-check"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <b>Success!</b> {{ message }}.
  </div>
  {% endif %}
</div>


<table id="allowances-list" class="table table-bordered table-hovered">
	<thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
      <th>Option</th>
    </tr>
  </thead>

	{% for allowance in allowances %}
	 	<tr>
	 		<td>{{ allowance.allowance_name }}</td>
	 		<td>{{ allowance.getFrequency() }}</td>
	 		<td>
	 			<a href="#updateAllowance" data-id="{{ allowance.id }}" data-name="{{ allowance.allowance_name }}" data-frequency="{{ allowance.frequency }}" class="btn btn-update-allowance btn-primary"><i class="fa fa-edit"></i></a>
	 			<a onclick="return confirm('Are you sure?')" href="/settings/allowances/delete?id={{ allowance.id }}" class="allowance_delete btn btn-danger"><i class="fa fa-trash-o"></i></a>
	 		</td>
	 	</tr>
	 {% endfor %}
</table>


	<!-- Modal -->
<form method="post" enctype="multipart/form-data" action="/settings/allowances/save">

	<div class="modal fade" id="addNewAllowance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Allowance Type</h4>
      </div>

      <div class="modal-body">
      <div class="form-group">
      	<label>Name<span class="req-label">*</span></label>
      	<input type="text" required name="allowance_name" class="form-control" placeholder="eg. Transportation" />
      </div>

      <div class="form-group">
        <label for="">Frequency</label>
        <select name="frequency" id="" class="form-control">
          <option value="once">Once Every Payroll</option>
          <option value="daily">Daily</option>
        </select>
      </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </div>
  </div>
</div>
</form>

  <!-- Modal -->
<form method="post" enctype="multipart/form-data" action="/settings/allowances/update">
<input type="hidden" name="id" id="update-allowance-id">
  <div class="modal fade" id="updateAllowance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Allowance Type</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input type="text" id="update-allowance-name" name="allowance_name" class="form-control" placeholder="eg. Transportation" />
      </div>
      <div class="form-group">
        <label for="">Frequency</label>
        <select name="frequency" id="update-allowance-frequency" class="form-control">
          <option value="once">Once Every Payroll</option>
          <option value="daily">Daily</option>
        </select>
      </div>

    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </div>
  </div>
</div>
</form>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
       $('#allowances-list').dataTable({
            "bPaginate": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });

      $('.btn-update-allowance').on('click', function(){
        var id = $(this).data('id');
        var name = $(this).data('name');
        var frequency = $(this).data('frequency');

        $('#update-allowance-name').val(name);
        $('#update-allowance-frequency').val(frequency);
        $('#update-allowance-id').val(id);

        $('#updateAllowance').modal('show');

      });

  });

</script>

{% endblock %}