{% extends "layout/main.twig.html" %}
{% block content %}

<div class="row container">
  <div class="dropdown inline" >
    <a data-toggle="dropdown" href="#" class=" btn btn-default">
      <i class="fa fa-gear">
      </i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li>
        <a href="/settings/allowances/trash">View Deleted Allowances</a>
      </li>
      <li>
        <a href="/settings/allowances/">View Current Allowances</a>
      </li>
    </ul>   
  </div>
  <br>
  <br>
	{% if alert_message != null %}
	<div class="col-md-7 alert alert-success alert-dismissable">
    <i class="fa fa-check"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
    </button>
    <b>Success!</b> {{ alert_message }}.
    </div>
  {% endif %}
</div>

<table id="allowances-list" class="table table-bordered table-hovered">
	<thead>
    <tr>
      <th>Name</th>
      <th>Created By</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
	 {% for allowance in allowances %}
	 	<tr>
	 		<td>{{ allowance.allowance_name }}</td>
	 		<td>{{ allowance.getCreator() }}</td>
	 		<td>
        <a  onclick="return confirm('Are you sure you want to reactivate this allowance?')"  href="/settings/allowances/restore/{{ allowance.id }}" class="btn btn-success"><i class="fa fa-rotate-left"></i></a>
	 		</td>
	 	</tr>
  </tbody>
	 {% endfor %}
</table>


	<!-- Modal -->
<form method="post" enctype="multipart/form-data" action="/settings/allowances/save">
	
  <div class="modal fade" id="addNewAllowance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">New Allowance Type</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label>Name<span class="req-label">*</span></label>
            <input type="text" required name="allowance_name" class="form-control" placeholder="eg. Transportation" />
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
          <input type="submit" class="btn btn-primary" value="Save">
        </div>

      </div>

    </div>

  </div>

</form>

  <!-- Modal -->
<form method="post" enctype="multipart/form-data" action="/settings/allowances/update">
  <input type="hidden" name="id" id="update-allowance-id">
    <div class="modal fade" id="updateAllowance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Edit Allowance Type</h4>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label>Name</label>
              <input type="text" id="update-allowance-name" name="allowance_name" class="form-control" placeholder="eg. Transportation" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Save">
          </div>
        </div>
      </div>  
    </div>
</form>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.js">
</script>
<script type="text/javascript">
  $(document).ready(function(){
       $('#allowances-list').dataTable({
            "bPaginate": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });

      $('.btn-update-allowance').on('click', function(){
        var id = $(this).data('id');
        var name = $(this).data('name');

        $('#update-allowance-name').val(name);
        $('#update-allowance-id').val(id);

        $('#updateAllowance').modal('show');

      });

  });

</script>

{% endblock %}