{% extends "layout/main.twig.html" %}
{% block content %}

<div class="row container">
<!-- 	<a class="user_role_create deduction_create btn-add-branch btn btn-success" href="/settings/roles/add" ><i class="fa fa-plus"></i></a> -->

</div>
  {% if alert_message != null %}
<div class="row container">
    <div class="col-md-10 alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {{ alert_message }}.
    </div>
</div>
    {% endif %}
<table id="userTable" class="table dataTable table-bordered table-hovered">
<thead>
    <tr>
    <th>Email</th>
    <th>Access Level</th>
    <th>Last Login</th>
    <th>Options</th>
  </tr>  
</thead>

	 {% for user in users %}
	 	<tr>
      <td>{{ user.email }}</td>    
      <td>{{ user.role }}</td>    
			<td>{{ user.last_login }}</td>		
	 		<td>
	 			<a onclick="return confirm('Are you sure?')" href="/settings/users/delete?token={{ user.id }}" class="btn btn-danger"><i class="fa fa-trash-o" ></i></a>

	 		</td>
	 	</tr>
	 {% endfor %}
</table>


	<!-- Modal -->
<form method="post" enctype="multipart/form-data" action="/settings/deductions/save">

	<div class="modal fade" id="addNewDeductions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Deduction Type</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
      	<label>Name</label>
      	<input type="text" name="deduction_name" class="form-control" placeholder="eg. Car Loan" />
      </div>
      <div class="form-group">
      	<label>Type</label>
      	<input type="radio" name="deduction_type" value="fix_amount"> Fix Amount
      	<input type="radio" name="deduction_type" value="percentage"> Percentage
      </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </div>
  </div>
</div>
</form>


{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
  (function($){
        $('#userTable').dataTable({
            "bPaginate": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });

        $('.dataTables_paginate > a').addClass('btn btn-default');
    })(jQuery);
</script>


{% endblock %}

