{% extends "layout/main.twig.html" %} {% block content %}
<div class="row">
    <div class="col-md-2">
        <a data-toggle="modal" data-target="#addTimesheet" class=" btn btn-success" href="#addTimesheet btn-sm">
            <i class="fa fa-plus"></i>
        </a>
        <a data-toggle="modal" data-target="#uploadTimesheet" class="btn btn-default btn-sm">
            <i class="fa fa-file"></i>Upload Sheet
        </a>
        
    </div>
    <div class="col-md-3">
<select name="" value="{{ get.branch }}" class="form-control"id="branch-select">
            <option value="">--Select Branch--</option>
            {% for branch in branches %}
                <option value="{{ branch.id }}">{{ branch.branch_name }}</option>
            {% endfor %}
        </select>
    </div>

</div>
<br>

<table id="timesheet1" class="table table-bordered table-hover dataTable">
   <thead>
    <tr>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Name</th>
        <th>Emp. ID</th>
        <th>Status</th>
        <th>Options</th>
    </tr>
    <tr>
        <td>    
            <div class="input-group" style="width: 200px">
                <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <input value="{{ get.timein }}" id="search-timein" type="text" class="search-select search-input datepicker form-control pull-right time">
            </div>
        </td>
        <td>
            <div class="input-group" style="width: 200px">
                <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <input id="search-timeout" value="{{ get.timeout }}" type="text" class="search-select search-input datepicker form-control pull-right time">
            </div>
        </td>
        <td>
            <div class="input-group">
                <input type="text"  value="{{ get.name }}" id="search-name" class="search-input">
            </div>
        </td> 
 
        <td>
            <div class="input-group">
                <input type="text"  value="{{ get.employee_id }}" id="search-employee-id" class="search-input">
            </div>
        </td>
        <td>
            <select value="{{ get.status }}" id="search-status" name="" class="search-select form-control" id="">
                <option value="">Select Status:</option>
                <option value="good">Good</option>
                <option value="undertime">Under Time</option>
                <option value="late">Late</option>
                <option value="absent">Absent</option>
                <option>Still Logged In</option>
            </select>
        </td>
        <td></td>
    </tr>
   </thead>
   <tbody class="main-table-body">
    {% for time in timesheets %}
    <tr>
        <td>{{ time.time_in }}</td>
        <td>{{ time.getTimeOut() }}</td>
        <td>{{ time.getEmployee.getName() }}</td>
        <td>{{ time.getEmployee.getEmployeeId() }}</td>
        <td>{{ time.getTimeDiff() }} - 
    
        {% if time.checkIfEmployeeDeleted() %}
            <span class="label label-default">Terminated</span>
        {% endif %}

        {% if time.status == 'late' %}
            <span class="label label-warning">Late</span>
        {% elseif time.status == 'undertime' %}
            <span class="label label-danger">Undertime</span>
        {% elseif time.status == 'absent' %}
            <span class="label label-default">Absent</span>
        {% elseif time.status == 'good' %}
            <span class="label label-success">Good</span>
        {% elseif time.status == 'current' %}
            <span class="label label-primary">Still Logged In</span>
        
        {% endif %}

        </td>
    
        <td>
            <a href="updateTimesheet" 
            data-id = "{{ time.id }}"
            data-employee-name="{{ time.getEmployee().getName() }}" 
            data-employee-id="{{ time.getEmployee().id }}" 
            data-time-in="{{ time.getTimeInHours() }}" 
            data-time-out="{{ time.getTimeOutHours() }}" 
            data-date-from="{{ time.getTimeInDate() }}" 
            data-date-to="{{ time.getTimeOutDate() }}" 


            class="btn btn-primary edit-timesheet"><i class="fa fa-edit"></i></a>
              <a href="/timesheet/delete?token={{ time.id }}" data-id="{{ time.id }}" data-index="{{ loop.index0 }}" class="btn btn-danger js-btn-delete-item">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
    </tr>

    {% endfor %}       
   </tbody>
    
</table>
{% if(max_count > 0) %}
<nav class="pull-right">
  <ul class="pagination">
    {% if (current_page > 0) %}
    <li><a data-page="{{ prev_page}}" href="#" class="paginate-btn prev_page" ><span class="">Previous</span></a></li>
    {% endif %}
    {%  if(max_count > current_skip) %}
    <li><a href="#" data-page={{ next_page }}  class="paginate-btn next_page" ><span class="">Next</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}



<form method="post" id="form-add-timesheet" action="/timesheet/save">
    <div class="modal fade" id="addTimesheet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Timesheet</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Employee Name</label>
                        <select required name="employee" class="form-control combobox employee-sched">
                            {% for employee in employees %}
                            <option></option>
                            <option data-timestart="{{ employee.getTimeShiftStart() }}" data-timeend="{{ employee.getTimeShiftEnd() }}" value="{{ employee.id }}">{{ employee.getName() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label>Time In</label>
                    <div class="form-group row">
                        <div class="col-md-4">
                        <input required type="" name="from" class="form-control datepicker" placeholder="From" id="evaluation-from">
                            
                        </div>
                        <div class="col-md-8 input-group edit-time bootstrap-timepicker" style="visibility: visible; width:">
                            
                            <input id="timestart" type="text" name="timestart" class="timepicker form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i>
                            </span>
                        </div>
                    </div>
                    <label>Time Out</label>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input required type="" name="to" class="form-control datepicker" placeholder="To" id="evaluation-from">
                        </div>
                        <div class="col-md-8 input-group edit-time bootstrap-timepicker" style="visibility: visible;">
                            <input id="timeend" type="text" name="timeend" class="timepicker form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i>
                            </span>
                        </div>
                    </div>
                

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    </div>

</form>

<!-- Edit Modal --> 
<form method="post" action="/timesheet/update">
    <div class="modal fade" id="updateTimesheet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Timesheet</h4>
                </div>
                <div class="modal-body">
                <input type="hidden" name="timesheet_id" id="updatetimesheet_id" />
                    <div class="form-group">
                        <label>Employee Name</label>
                        <select name="employee" id="updatetimesheet_employee" class="form-control employee-sched">
                            {% for employee in employees %}
                            <option data-timestart="{{ employee.getTimeShiftStart() }}" data-timeend="{{ employee.getTimeShiftEnd() }}" value="{{ employee.id }}">{{ employee.getName() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label>Time In</label>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input required type="" name="from" class="form-control datepicker" placeholder="From" id="updatetimesheet_from">
                        </div>
                        <div class="col-md-8 input-group edit-time bootstrap-timepicker" style="visibility: visible;">
                            <input required id="updatetimesheet_timestart" type="text" name="timestart" class="timepicker form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i>
                            </span>
                        </div>
                    </div>
                    <label>Time Out</label>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input required type="" name="to" class="form-control datepicker" placeholder="To" id="updatetimesheet_to">
                        </div>
                        <div class="col-md-8 input-group edit-time bootstrap-timepicker" style="visibility: visible;">
                            <input required id="updatetimesheet_timeend" type="text" name="timeend" class="timepicker form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i>
                            </span>
                        </div>
                    </div>
      

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    </div>

</form>



<form method="post" enctype="multipart/form-data" action="/timesheet/upload">
<div class="modal fade" id="uploadTimesheet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Upload XLS Timesheet
                    </h4>
                </div>
                <div class="modal-body">
                    <p>Get the timesheet template. <a href="/xls_template/timesheet.xlsx">Click Here</a></p>
                    <div class="form-group">
                        <label>Upload Excel File</label>
                        <input type="file" accept=".xls,.xlsx" required name="excel_file" class="form-control" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Upload" />
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Template -->

<div style="display:none">
        <div id="action-buttons">
            <a href="#" 
            data-id = "TIME_ID"
            data-employee-name="EMPLOYEE_NAME" 
            data-employee-id="EMPLOYEE_ID" 
            data-time-in="TIME_IN" 
            data-time-out="TIME_OUT" 
            data-date-from="TIME_IN_DATE" 
            data-date-to="TIME_OUT_DATE" 

            onclick = "editTimesheet(this);"

            class="btn btn-primary edit-timesheet">
                <i class="fa fa-edit"></i>
            </a>
            <a onclick="return confirm('Are you sure?')"  href="/timesheet/delete?token=TIME_ID" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>

</div>

{% endblock %} 
{% block scripts %}
<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.js">
    
</script>
<script type="text/javascript">

$('#form-add-timesheet').on('submit', function(e){
    // if($('#updatetimesheet_employee').val() == 0){
    //     alert('Select an Employee First');
    //     e.preventDefault();
    // }
});

$('#query').on('keyup', function(e){
    e.preventDefault();
    var query = $('#query').val();
    var from  = $('#dateranger-from').val();
    var to    = $('#dateranger-to').val();

    if(from == null && to == null) {
        alert('Kindly input date range');
    }
    else {
        $.get('/timesheet/range', {query:query, from : from, to : to}, function(resp){
            $('.dataTable').html(resp);
        });

    }

});
function getDD(h)
{
    dd = "AM";
    if (h >= 12) {
        h = h-12;
        dd = "PM";
    }
    if (h == 0) {
        h = 12;
    }

    return dd;
}

function getHours(h){
     if (h >= 12) {
        h = h-12;
      
    }
    if (h == 0) {
        h = 12;
    }

    if(h < 10){
        h = "0" + h;
    }
    return h;
}

function editTimesheet(event)
{
    var timesheet_id  = $(event).data('id');
    var employee_name = $(event).data('employee-name'); 
    var employee_id   = $(event).data('employee-id'); 
    var time_in       = $(event).data('time-in'); 
    var time_out      = $(event).data('time-out');

    var from = $(event).data('date-from');
    var to = $(event).data('date-to');


    $('#updatetimesheet_id').val(timesheet_id);
    $('#updatetimesheet_timestart').val(time_in);
    $('#updatetimesheet_timeend').val(time_out);
    $('#updatetimesheet_from').val(from);
    $('#updatetimesheet_to').val(to);
    $('#updatetimesheet_employee').val(employee_id);

    $('#updateTimesheet').modal('show');
}


$('.edit-timesheet').on('click', function(e){
    e.preventDefault();
    console.log('this is me');
    var timesheet_id  = $(this).data('id');
    var employee_name = $(this).data('employee-name'); 
    var employee_id   = $(this).data('employee-id'); 
    var time_in       = $(this).data('time-in'); 
    var time_out      = $(this).data('time-out');

    var from = $(this).data('date-from');
    var to = $(this).data('date-to');


    $('#updatetimesheet_id').val(timesheet_id);
    $('#updatetimesheet_timestart').val(time_in);
    $('#updatetimesheet_timeend').val(time_out);
    $('#updatetimesheet_from').val(from);
    $('#updatetimesheet_to').val(to);
    $('#updatetimesheet_employee').val(employee_id);

    $('#updateTimesheet').modal('show');
});


$('.dateranger-btn').on('click', function(e){
    e.preventDefault();
    var query = $('#query').val();
    var from  = $('#dateranger-from').val();
    var to    = $('#dateranger-to').val();

    if(from == null && to == null) {
        alert('Kindly input date range');
    }
    else {
        $.get('/timesheet/range', {query:query, from : from, to : to}, function(resp){
            $('.dataTable').html(resp);
        });
    }

});

    (function($){
        $('#timesheet1').dataTable({
            "bPaginate": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "bAutoWidth": false
        });

        $('.dataTables_paginate > a').addClass('btn btn-default');
    })(jQuery);
</script>

<script>
    $(document).ready(function() {
      var $btn = $('.js-btn-delete-item');

      $btn.on('click', function(evt) {
        evt.preventDefault();


        if ( !confirm('Are you sure to delete this timesheet?') ) return;

        var $this = $(this);

        var id = $this.data('id');

        $.ajax({
          url: '/timesheet/delete?token=' + id,
          type: 'get',
          dataType: 'json',
          success: function(r) {
            alert('Successfully removed the timesheet!');
            $this.parents('tr').slideUp(1500);
          },
          error: function(r) {
            console.log(r);
            alert('An error has occurred while deleting the timesheet. Please try to refresh the page.');
          }
        });
      });
    });
</script>


<script type="text/javascript">
    $('.paginate-btn').on('click', function(){
        var timein      = $('#search-timein').val();
        var timeout     = $('#search-timeout').val();
        var name        = $('#search-name').val();
        var employee_id = $('#search-employee-id').val();
        var status      = $('#search-status').val();
        var branch      = $('#branch-select').val();
        var page        = $(this).data('page');

        window.location = "?name=" + name + "&employee_id=" + employee_id + "&timein=" + timein + "&timeout=" + timeout + "&status=" + status + "&branch=" + branch + "&page=" + page;

    });

    $('.search-select').on('changeDate', function(){
        $('.search-input').trigger('keyup');
    });
    $('#branch-select').on('change', function(){
        $('.search-input').trigger('keyup');
    });

    $('.search-input').on('keyup', function(){
        var timein      = $('#search-timein').val();
        var timeout     = $('#search-timeout').val();
        var name        = $('#search-name').val();
        var employee_id = $('#search-employee-id').val();
        var status      = $('#search-status').val();
        var branch      = $('#branch-select').val();
        var action      = $('#action-buttons').html();
        var data = {
            'name' : name,
            'employee_id' : employee_id,
            'timein' : timein,
            'timeout' : timeout,
            'status' : status,
            'branch' : branch
        };


        $.get('/timesheet/search', data, function(data) {    
            var newRow = "";
            var response = data['data'];
            response.forEach(function buildRows(element, index, array){

                // console.log(element.time_in);
                var time_in_match = element.time_in.match(/^(\d+)-(\d+)-(\d+) (\d+)\:(\d+)\:(\d+)$/)
                var time_in_d = new Date(time_in_match[1], time_in_match[2] - 1, time_in_match[3], time_in_match[4], time_in_match[5], time_in_match[6]);
                var time_out_match = element.time_out.match(/^(\d+)-(\d+)-(\d+) (\d+)\:(\d+)\:(\d+)$/)
                var time_out_d = new Date(time_in_match[1], time_in_match[2] - 1, time_in_match[3], time_in_match[4], time_in_match[5], time_in_match[6]);
                console.log(time_in_d);
                var time_in_date = time_in_d.getFullYear() + '-' + (time_in_d.getMonth()<10?'0':'')  +(time_in_d.getMonth() + 1) + '-' + (time_in_d.getDate()<10?'0':'')  + time_in_d.getDate();
                var time_out_date = time_out_d.getFullYear() + '-' + (time_out_d.getMonth()<10?'0':'') + (time_out_d.getMonth() + 1) + '-' + (time_out_d.getDate()<10?'0':'') +  time_out_d.getDate();
                var time_in_hour = getHours(time_in_d.getHours()) + ":" + (time_in_d.getMinutes()<10?'0':'') + time_in_d.getMinutes() + ' ' + getDD(time_in_d.getHours());
                var time_out_hour = time_out_d.getHours() + ":" + (time_out_d.getMinutes()<10?'0':'') + time_out_d.getMinutes() + ' ' + getDD(time_in_d.getHours()); 

                var temp = "<tr><td>timein</td><td>timeout</td><td>name</td><td>employee_id</td><td>status</td><td>action</td></tr>";
                var action_button = action;

                action_button = action_button.replace('TIME_IN', time_in_hour, 'gi');
                action_button = action_button.replace('TIME_OUT', time_out_hour, 'gi');
                action_button = action_button.replace('TIME_IN_DATE', time_in_date, 'gi');
                action_button = action_button.replace('TIME_OUT_DATE', time_out_date, 'gi');
                action_button = action_button.replace('EMPLOYEE_NAME', element.employee.full_name, 'gi');
                action_button = action_button.replace('EMPLOYEE_ID', element.employee.id, 'gi');
                action_button = action_button.replace('TIME_ID', element.id, 'gi');
                


                var status = "";
                if(element.status == 'late')
                {
                    status = '<span class="label label-warning">Late</span>';
                }
                else if(element.status == 'undertime') 
                {
                    status = '<span class="label label-danger">Undertime</span>'
                }
                else if(element.status == 'absent') 
                {
                    status = '<span class="label label-default">Absent</span>'
                }
                else if(element.status == 'good') 
                {
                    status = '<span class="label label-success">Good</span>'
                }
                else if(element.status == 'current') 
                {
                   status = '<span class="label label-primary">Still Logged In</span>'
                }

                temp = temp.replace('timein', element.time_in, 'gi');
                temp = temp.replace('timeout', element.time_out, 'gi');
                temp = temp.replace('name', element.employee.full_name, 'gi');
                temp = temp.replace('employee_id', element.employee.employee_number, 'gi');
                temp = temp.replace('status', status, 'gi');
                temp = temp.replace('action', action_button, 'gi');
                newRow += temp;
            })
            if(data['pagination'].next_page){
                $('.paginate-btn.next_page').fadeIn();
            }
            else{
                $('.paginate-btn.next_page').fadeOut();
            }
            if(data['pagination'].prev_page){
                $('.paginate-btn.prev_page').fadeIn();
            }
            else{
                $('.paginate-btn.prev_page').fadeOut();

            }
            $('table>tbody.main-table-body').html(newRow);
        });

    });
</script>

{% endblock %}
