{% extends "layout/main.twig.html" %}
{% block content %}
<div class="row container">

	{% if alert_message != null %}
	<div class="col-md-7 alert alert-success alert-dismissable">
                                        <i class="fa fa-check"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <b>Success!</b> {{ alert_message }}.
    </div>
    {% endif %}
</div>
        <div class="form-inline pull-right">
            <div class="form-group">

                <input type="" id="dateranger-from" name="from" class="form-control datepicker" placeholder="From" >
            </div>
            <div class="form-group">

                <input type="" id="dateranger-to" name="to" class="form-control datepicker" placeholder="To" >
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-default dateranger-btn"><i class="fa fa-search"></i></a>
            </div>
        </div>
<table id="mytimesheet" class="table table-bordered table-hover dataTable">
	<thead>
         <tr>
        <th></th>
        <th>Name</th>
        <th>Position</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Hours</th>
    </tr>  
    </thead>
 
    {% for time in timesheets %}
    <tr class="">
        <td>{% if time.checkIfUndertime() %}<span class="label label-danger">Under Time</span>{% endif %}</td>
        <td>{{ time.getEmployee.getName() }}</td>
        <td>{{ time.getEmployee.getJobPosition() }}</td>
        <td>{{ time.time_in }}</td>
        <td>{{ time.getTimeOut() }}</td>
        <td>{{ time.getTimeDiff() }}</td>
             
    </tr>

    {% endfor %}
</table>
{% endblock %}



{% block scripts %}
<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
  (function($){
        $('#mytimesheet').dataTable({
            "bPaginate": true,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });

        $('.dataTables_paginate > a').addClass('btn btn-default');
    })(jQuery);
</script>


{% endblock %}