<div class="modal fade" id="addSSS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form action="/settings/sss-config" method="post" enctype="multipart/form-data">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Add range</h4>
        </div>
        <div class="modal-body">

             <div class="form-group">
                  <label>Range From</label>
                  <input type="text" class="form-control" name="from_range">
             </div>
             <div class="form-group">
                  <label>Range To </label>
                  <input type="text" class="form-control" name="to_range">
             </div>
             <div class="form-group">
                  <label>Monthly Salary Credit </label>
                  <input type="text" class="form-control" name="monthly_salary_credit">
             </div>
             <div class="form-group">
                  <label>Employer </label>
                  <input type="text" class="form-control" name="er" placeholder="Total Contribution ER">
             </div>
             <div class="form-group">
                  <label>Employee </label>
                  <input type="text" class="form-control" name="ee" placeholder="Total Contribution EE">
             </div>
             <div class="form-group">
                  <label>Employee Contribution</label>
                  <input type="text" class="form-control" name="ec" placeholder="EC">
             </div>
             <div class="form-group">
                  <label>Total Contribution</label>
                  <input type="text" class="form-control" name="ttc" placeholder="total">
             </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input  type="submit" class="btn btn-primary"></button>
        </div>
      </div>
    </div>
  </form>
</div>



