<div class="modal fade" id="view-announcment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="box box-primary">
            <div class="box-header">
                <button type="button" style="padding: 8px;" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 class="box-title"> Announcement</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="/announcement" method="post">
                <div class="box-body">
                    <div >
                        <label for="exampleInputEmail1" class="title"></label>
                    </div>
                    <p class="word">
                      
                    </p>

                </div>
                <!-- /.box-body -->

              
            </form>
        </div>
    </div>
</div>