{% extends "layout/main.twig.html" %}
{% block content %}
<div class="row">
	<section class="col-md-12 connectedSortable ui-sortable">
		<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
          		<li  ><a href="/settings/sss-config" >SSS Form table</a></li>
              <li class="active"><a href="/settings/withholding-config" >Widthholding Tax Tables</a></li>
          		<li ><a href="/settings/philhealth-config">PhilHealth Form table</a></li>
            </ul>

            <div class="tab-content ">
                <div class="tab-pane active" id="bir" style="position: relative;  ">
             
                	<table class="table table-bordered center" id="wttable">
                      <thead>
                        <tr>
                          <th>Period</th>
                          <th>Index</th>
                          <th>Range</th>
                          <th>Dependents</th>
                          <th>Status</th>
                          <th>Exemption</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                	     {% for set in sets %}
                          <tr data-id="{{ set.id }}">
                              <td > 
                                <span class="col-md-12 dependents">{{ set.period }}</span>
                                <input type="text" class="input-sm hide period" value="{{ set.period }}" placeholder="period">
                              </td>
                              <td > 
                                <span class="col-md-12 dependents">{{ set.index }}</span>
                                <input type="text" class="input-sm hide index" value="{{ set.index }}" placeholder="index">
                              </td>
                              <td > 
                                <span class="col-md-12 range_from">{{ set.from_range }} - {{ set.to_range }}</span>
                                <input type="text" class="input-sm hide range_from hide" value="{{ set.from_range }}" placeholder="from">
                                <input type="text" class="input-sm hide range_to hide" value="{{ set.to_range }}" placeholder="to">
                              </td>
                              <td > 
                                <span class="col-md-12 dependents">{{ set.dependents }}</span>
                                <input type="text" class="input-sm hide index dependents" value="{{ set.dependents }}" placeholder="from">
                              </td>
                              <td > 
                                <span class="col-md-12 dependents">{{ set.status }}</span>
                                <input type="text" class="input-sm hide index status" value="{{ set.status }}" placeholder="status">
                              </td>
                              <td > 
                                <span class="col-md-12 dependents">{{ set.exemption }}</span>
                                <input type="text" class="input-sm hide index exemption" value="{{ set.exemption }}" placeholder="exemption">
                              </td>
                              <td>
                                <button class="btn btn-info save" style="display:none"><i class="fa fa-save"></i></button>
                                <button class="btn btn-default edit"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                              </td>
                          </tr>
                       {% endfor %}
                      </tbody>
                	</table>
               		<div class="col-md-12 center">
               			<button class="btn add-range">Add Ranges</button>
               		</div>
                </div>
                <!-- sss table -->
                <div class="tab-pane" id="sss" style="position: relative; height: 300px;">
                </div>

                <div class="tab-pane" id=""></div>
            </div>
        </div>
	</section>
</div>
{% include 'modal/add-wt.twig.html' %}

<script src="/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript"> 
(function($){
$('#wttable').dataTable({
            "bPaginate": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    })(jQuery);
    
  var sssController = {

    addRange:function(){
      
      $('#addWT').modal('show');
    
    },

    editSSS:function(){
    
      $(this).hide();
    
      var $parent = $(this).parent().parent();
      
      $parent.find('.save').show();

      $parent.find('td span').hide();
    
      $parent.find('td input').removeClass('hide');
      
    },

    saveSSS:function(){
       $.notify('saving...','info');

        var $parent = $(this).parent().parent();
        var $this =  $(this);
        var data = {
          'id': $parent.data('id'),
          'from_range' : $parent.find('td input.range_from').val(),
          'to_range' : $parent.find('td input.range_to').val(),
          'period' : $parent.find('td input.period').val(),
          'index' : $parent.find('td input.index').val() ,
          'status' : $parent.find('td input.status').val() ,
          'exemption' : $parent.find('td input.exemption').val() ,
        }
        $.post('/settings/withholding-config/update',data,function(response){
           $('table').loading(false );
          if(response.status=="ok"){
            $this.hide();

            $parent.find('.edit').show();
            
            $parent.find('td span').show();

            $parent.find('td input').addClass('hide');

            $.notify('edit success','success');

            window.location.reload();
          }else{
            $.notify('there is some error','error');
          }
        });
    }
  }

  // events
	$( '.add-range' ).on( 'click' , sssController.addRange );
  $( '.edit' ).on( 'click' , sssController.editSSS );
  $('.save').on('click', sssController.saveSSS );


</script>

{% endblock %}
 
