header .logo img{

	width: 100%;
	height: 60px;

}

.btn-add-branch {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 35px;
}

.slip {
	margin: 0 auto;
	float: none;
}

.slip  .table-head{

}

.slip .table .table-head {
	color: white;
	background-color: gray;
}

.slip .table .table-head  td {
	color: white;
	font-size: 18px;
}