{% extends "layout/main.twig.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
            <a class="btn-add-branch btn btn-primary pull-right" href="/settings/forms/new">+ Add Form</a>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Payroll Group</th>
                <th>Period</th>
                <th>From</th>
                <th>To</th>
                <th>Branch</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Trident</td>
                <td>Internet
                    Explorer 4.0</td>
                <td>Win 95+</td>
                <td> 4</td>
            </tr>
        </tbody>
    </table>
	</div>
</div>
{% endblock %}
