 	                    <ul class="sidebar-menu">
                        <li>
                            <a href="/dashboard">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <!-- Branch -->
                        <li>
                        	<a href="/branches">
                        		<i class="fa fa-building"></i> <span>Branch</span>
                        	</a>
                        </li>
                        <!-- Employee -->
                        <li>
                        	<a href="/employees">
                        		<i class="fa fa-group"></i> <span>Employee</span>
                        	</a>
                        </li>
                        <!-- User Roles -->
                        <li>
                            <a href="/roles">
                                <i class="fa fa-group"></i> <span>User Roles</span>
                            </a>
                        </li>
                    </ul>
