 	                    <ul class="sidebar-menu">
                        <li>
                            <a href="/dashboard">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                              <!-- payslip -->
                        <li>
                            <a href="/my-payslip">
                                <i class="fa fa-file"></i> <span>My Payslip</span>
                            </a>
                        </li>
                        <!-- payroll -->
                        <li>
                            <a href="/payroll">
                                <i class="fa fa-calendar"></i> <span>Payroll</span>
                            </a>
                        </li>
                    <!-- TimeSheet -->
                       <li>
                            <a href="/timesheet">
                                <i class="fa fa-clock-o"></i> <span>Timesheet</span>
                            </a>
                        </li>

                        <!-- Employee -->
                        <li>
                        	<a href="/employees">
                        		<i class="fa fa-group"></i> <span>Employee</span>
                        	</a>
                        </li>
                        <!-- User Roles -->

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-wrench"></i> <span>Settings</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/settings/roles" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> User Roles</a></li>
                                <li><a href="/settings/job" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i>Job Positions</a></li>
                                <li><a href="/settings/department" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Departments</a></li>

                                <li>
                                    <a href="/settings/payroll" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Payroll </a>
                                    <ul > <li style="list-style:none"><a href="/settings/payroll-group" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Payroll Group</a></li></ul>
                                </li>
                          <li>
                            <a style="margin-left: 10px;" href="/settings/company">
                                <i class="fa fa-angle-double-right"></i> <span>Company</span>
                            </a>
                        </li>

                                      <!-- Branch -->
                        <li>
                            <a style="margin-left: 10px;" href="/settings/branches">
                                <i class="fa fa-angle-double-right"></i> <span>Branches</span>
                            </a>
                        </li>
                              <li>
                            <a style="margin-left: 10px;" href="/settings/deductions">
                                <i class="fa fa-angle-double-right"></i> <span>Deductions</span>
                            </a>
                        </li>

                           <li>
                            <a style="margin-left: 10px;" href="/settings/allowances">
                                <i class="fa fa-angle-double-right"></i> <span>Allowances</span>
                            </a>
                        </li>
                                  <li><a href="/settings/forms" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Forms</a></li>


                            </ul>
                        </li>
                    </ul>
