{% extends "layout/main.twig.html" %} {% block content %}
      {% if alert_message != null %}  
    <div class="col-md-11 alert alert-danger alert-dismissable">
        <i class="fa fa-exclamation"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>Error!</b> {{ alert_message }}.
    </div>

    {% endif %}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Employee Profile</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="post" enctype="multipart/form-data" />
        <div class="box-body">
            <div class="form-group">
                <label>Full Name
                    <span class="req-label">*</span>
                </label>
                <div class="row">
                    <div class="col-md-4">
                        <input required type="text" name="first_name" class="form-control " id="exampleInputEmail1" placeholder="First Name">
                    </div>
                    <div class="col-md-4">
                        <input  type="text" name="middle_name" class="form-control " id="exampleInputEmail1" placeholder="Middle Name">
                    </div>
                    <div class="col-md-4">
                        <input required type="text" name="last_name" class="form-control " id="exampleInputEmail1" placeholder="Last Name">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label>Full Address
                    <span class="req-label">*</span>
                </label>
                <input required type="text" name="full_address" class="form-control " id="exampleInputEmail1" placeholder="Full Address">
            </div>
            <div class="form-group">
                <label>Profile Picture
                </label>
                <input type="file" class="form-control" name="display_picture">
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label>Birthdate
                        <span class="req-label">*</span>
                    </label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input required name="birthdate" type="text" class="datepicker form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                    </div>

                </div>

                <div class="col-md-6">
                    <label>Gender
                        <span class="req-label">*</span>
                    </label>
                    <br>
                    <input required type="radio" value="Male" name="gender">Male
                    <input required type="radio" value="Female" name="gender">Female

                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Marital Status
                        <span class="req-label">*</span>
                    </label>
                    <select required class="form-control" name="marital_status">
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Seperated">Seperated</option>
                        <option value="Widowed">Widowed</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Spouse Name (if any)</label>
                    <input class="form-control" name="spouse_name">
                </div>
            </div>
            <div class="form-group">
                <label>Qualified Dependents
                    <span class="req-label">*</span>
                </label>
                <br>

                <input required type="radio" checked name="dependents" class="dependents-radio" id="" value="0" placeholder="">0
                <input required type="radio" name="dependents" class="dependents-radio" id="" value="1" placeholder="">1
                <input required type="radio" value="2" name="dependents" class="dependents-radio " id="" placeholder="">2
                <input required type="radio" value="3" name="dependents" class="dependents-radio" id="" placeholder="">3
                <input required type="radio" value="4" name="dependents" class="dependents-radio" id="" placeholder="">4+
            </div>
        </div>
        <!-- /.box-body -->



    </div>
</div>
<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">Employment Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Employee Status
                        <span class="req-label">*</span>
                    </label>
                    <select required class="form-control" name="employee_type">
                        <option value="Regular">Regular</option>
                        <option value="Irregular">Irregular</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label>Branch
                        <span class="req-label">*</span>
                    </label>
                    <select required type="text" name="branch_id" class="form-control " id="branch" placeholder="">
                        <option value="none">-- Select Branch --</option>
                        {% for branch in branches %}
                        <option value="{{ branch.id }}">{{ branch.branch_name }}</option>
                        {% endfor %} }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Job Position
                    <span class="req-label">*</span>
                </label>

                <select required name="job_position" class="form-control " id="exampleInputEmail1" placeholder="">
                    {% for job_position in job_positions %}
                    <option value="{{  job_position.id }}">{{ job_position.job_position }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label>Department
                        <span class="req-label">*</span>
                    </label>

                    <select required name="department" class="form-control " id="exampleInputEmail1" placeholder="">
                        {% for department in departments %}
                        <option value="{{  department.id }}">{{ department.department_name }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="col-md-6">
                    <label>Payroll Group
                        <span class="req-label">*</span>
                    </label>
                    <select id="group_name" required class="form-control" name="payroll_period">

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Employee Role
                    <span class="req-label">*</span>
                </label>
                <select required name="role_id" class="form-control " id="exampleInputEmail1" placeholder="">
                    {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Date Hired
                    <span class="req-label">*</span>
                </label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input required type="text" class="datepicker form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" name="date_hire">
                </div>
                <div class="form-group">
                    <label>Basic Pay
                        <span class="req-label">*</span>
                    </label>
                    <input required type="text" class="form-control" name="basic_pay" />
                </div>
            </div>
            <!-- /.box-body -->



        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-warning">
        <div class="box-header">
            <h3 class="box-title">Government Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">



            <div class="form-group">
                <label>TIN Number</label>
                <input type="text" name="tin_number" class="form-control " id="exampleInputEmail1" placeholder="TIN Number">
            </div>
            <div class="form-group">
                <label>SSS Number</label>
                <input type="text" name="sss_number" class="form-control " id="exampleInputEmail1" placeholder="SSS Number">
            </div>
            <div class="form-group">
                <label>Pagibig Number</label>
                <input type="text" name="pagibig_number" class="form-control " id="exampleInputEmail1" placeholder="PAGIBIG Number">



            </div>
            <!-- /.box-body -->


        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">Contact Information</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <div class="form-group">
                <label>Email Address
                    <span class="req-label">*</span>
                </label>
                <input required type="text" placeholder="@" name="email_address" class="form-control">
            </div>
            <div class="form-group">
                <label>Facebook Username</label>
                <input type="text" placeholder="fb.username" name="fb" class="form-control">
            </div>
            <div class="form-group">
                <label>Mobile Number</label>
                <input type="text" placeholder="" name="contact_number" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">User Account</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->


        <div class="box-body">
            <div class="form-group">

                <p>Do you want to create a new user account for this employee?
                    <input type="checkbox" id="create_user" class="create_user">
                </p>
                <!--      <a href="" id="create_user">as</a> -->

            </div>
            <div class="user-account-form">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control " id="exampleInputEmail1" placeholder="">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control " id="password" placeholder="">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control " id="confirm_password" placeholder="">
                </div>
            </div>

        </div>



    </div>
    <!-- /.box-body -->


    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#confirm_password').on('keyup', function(){
    var password = $('#password').val();
    var confirm_password = $(this).val();
    // console.log($(this).parent());
    if(password != confirm_password){
        $(this).parent().addClass('has-error');
    }
    else{
        $(this).parent().removeClass('has-error');
        $(this).parent().addClass('has-success');

    }
});

$('#branch').change(function(elem) {

    var el = this;
    var group_string = "";
    $.get('/payroll/rest-payroll-group', {
        id: $(el).val()
    }, function(res) {
        $.each(res, function(i, s, a) {
            group_string += '<option value=' + s.id + ' data-period=' + s.period + '>' + s.group_name + '</option>';
        });
        $('#group_name').html(group_string);
    });
});
});

</script>
{% endblock %}
