{% extends "layout/main.twig.html" %} {% block content %}
<div class="row container">
    <a class="employee_create btn-add-branch btn btn-success" href="/employees/add"><i class="fa fa-plus"></i></a>
    <a class="employee_batch btn btn-default" href="#">Batch upload</a>
    <div class="dropdown inline" >
    <a data-toggle="dropdown" href="#" class=" btn btn-default"><i class="fa fa-gear"></i>
    </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>
        <a href="/employees/terminated">View Terminated Employees</a>
    </li>
    <li>
        <a href="/employees/">
            View Current Employees
        </a>
    </li>
  </ul>      
    </div>
  

    {% if alert_message != null %}
    <div class="col-md-10 alert alert-success alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>Success!</b> {{ alert_message }}.
    </div>
    {% endif %}

    {% if alert_message_error != null %}
    <div class="col-md-10 alert alert-danger alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>Error!</b> {{ alert_message_error }}.
    </div>
    {% endif %}


</div>
<!-- <div class="form-group">
    <div class="input-group">
        <input type="text" name="q" class="form-control search" data-url="/employees/search" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
        </span>
    </div>

</div> -->
<table id="employee-list" class="table table-bordered table-hover dataTable">
     <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Position</th>
        <th>Branch</th>
        <th>Department</th>
        <th>Payroll Period</th>
        <th>Email Address</th>
        <th></th>
    </tr>
    </thead>
    {% for employee in employees %}
    <tr action="/employees/{{ employee.id }}/profile">
        <td>
            <center>
                <img class="listing profile-img img img-circle" src="{{ employee.getProfilePicture() }}">
            </center>
        </td>
        <td>{{ employee.last_name }}, {{ employee.first_name }}</td>
        <td>{{ employee.getJobPosition() }}</td>
        <td>{{ employee.getBranch() }}</td>
        <td>{{ employee.getDepartment() }}</td>
        <td>{{ employee.getPayrollPeriodName() }}</td>
        <td>{{ employee.email }}</td>
        <td>
            <a href="/employees/{{ employee.id }}/profile" class="btn btn-default"><i class="fa fa-folder-open-o"></i></a>
            <a  onclick="return confirm('Are you sure you want to terminate this employee?')"  href="/employees/delete?token={{ employee.id }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="/js/plugins/datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
  (function($){
        $('#employee-list').dataTable({
            "bPaginate": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
        $('form-control search').css({display:'hidden'});
        $('.dataTables_paginate > a').addClass('btn btn-default');
    })(jQuery);
</script>


{% endblock %}