{% extends "layout/main.twig.html" %}

{% block content %}
<style>
  .individual { display: none;}
  /*.payroll-group { display: none;}*/
</style>
<div class="row">
    <section class="col-md-12 connectedSortable ui-sortable">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="/payroll" data-toggle="tab">Payroll</a></li>
                <li ><a href="/payroll/payslip">Payslip</a></li>

             <!--    <li ><a href="/payroll/gov-form" >Gov. Form</a></li>
                <li ><a href="/payroll/bank">Bank</a></li> -->

            </ul>
            <div class="tab-content no-padding ">
                <!-- bir tax table -->
                <div class="tab-pane active" id="payroll" style="position: relative; height: 400px;">

                	<div class="box">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                	<a data-toggle="modal" data-target="#generate-modal" class="btn btn-primary fa fa-files-o ">&nbsp; Generate Payroll</a>
                                </div>
                                <div class="box-body table-responsive">
                                    <table id="group" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Branch</th>
                                                <th>Payroll Group</th>
                                                <th>Period</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                           	{% for group in payslipGroups %}
                                           	 <tr>
                                           		<td>{{ group.getPayrollGroup().getBranch() }}</td>
                                           		<td>{{ group.getPayrollGroup().group_name }}</td>
                                           		<td>{{ group.getPayrollGroup().period }}</td>
                                           		<td>{{ group.from|date("F jS") }}</td>
                                           		<td>{{ group.to|date("F jS") }}</td>
                                           		<td>
                                           			<a href="/payroll/group/{{group.id}}?from={{ group.from }}&to={{ group.to }}" class="btn btn-success fa fa-list"></a>
                                           			<a class="btn btn-danger delete fa fa-trash-o" data-id="{{ group.id }}"></a>
                                                </td>
                                           		</td>
                                            </tr>
                                           	{% endfor %}
                                           
                                            </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->

                </div>
                <!-- sss table -->
            </div>
        </div>
	</section>
</div>



<div class="modal fade" id="generate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
					<div class="modal-header">Generate Payroll</div>
					<div class="modal-body box">
     <!--        <div class="form-group">
              <label for="">Type</label>
              <input name="type" class="type-select" value="individual" type="radio"> Individual
              <input name="type" checked="false" class="type-select" value="payroll_group" type="radio"> Payroll Group
            
            </div> -->
						<div class="form-group">
    
		                    <label>Branch</label>
		                    <select class="branch-select form-control" id="branch">
		                    	<option selected="selected">Select Branch</option>
		                      {% for branch in branches %}
		                      	<option value="{{ branch.id }}"> {{ branch.branch_name }}</option>
		                      {% endfor %}
		                    </select>
		                </div>
						<div class="form-group">

		                    <label class="payroll-group ">Payroll Group</label>
		                    <select class="payroll-group form-control" id="group_name">
		                    	<option selected="selected">Select Group</option>
		                    
		                    </select>
		        </div>
            <div class="form-group">

                        <label class="individual ">Employee Name</label>
                        <select class="individual form-control" id="employee_name">
                          <option selected="selected" disabled>Select Group</option>
                        
                        </select>
            </div>


		                <dv class="form-group  hide semi">
		                	<label>Select Date </label>
		                	<select class="form-control" id="daterange">
		                		
		                	</select>
		                </dv>
		                <div class="form-group  daily">
	                        <label>Payroll date:</label>
	                        <div class="input-group">
	                            <div class="input-group-addon">
	                                <i class="fa fa-clock-o"></i>
	                            </div>
	                            <input type="text" class="form-control pull-right" placeholder="must choose date range" id="payrolltime">
	                        </div>
	                    </div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" id="generate-payroll" >Generate</button>
						<button class="btn"  data-dismiss="modal" >close</button>
					</div>
				
			</div>
		</div>
</div>



<!-- plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script type="text/javascript"  src="/js/plugins/daterangepicker/daterangepicker.js" ></script>
<script type="text/javascript" src="/js/generate-payroll.js"></script>
<script>
  $('.type-select').on('change', function(){
    var value = $(this).val();

    if(value == 'individual'){
        $('.payroll-group').fadeOut();
        $('.individual').fadeIn();
      
    }
    else if(value == "payroll_group"){
        $('.payroll-group').fadeIn();
        $('.individual').fadeOut();

    }


  });


</script>

{% endblock %}
