{% extends "layout/main.twig.html" %}
{% block content %}
<div class="row">
	<section class="col-md-12 connectedSortable ui-sortable">
		<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li ><a href="/payroll">Payroll</a></li>
          		<li class="active"><a href="#sss" data-toggle="tab">Payslip</a></li>
             <!--    <li ><a href="/payroll/gov-form" >Gov. Form</a></li>
                <li ><a href="/payroll/bank">Bank</a></li> -->
            </ul>
            <div class="tab-content no-padding">
                <!-- bir tax table -->
                <div class="tab-pane active" id="payroll" style="position: relative; height: 400px;">
                	<div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Payslip</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date</th>
                                                <th>Branch</th>
                                                <th>Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for payslip in payslips %}
                                            <tr>
                                                <td>{{ payslip.getName() }}</td>
                                                <td>{{ payslip.from }} - {{ payslip.to }}</td>
                                                <td>{{ payslip.getBranch() }}</td>
                                                <td> 
                                                <a href="payslip/{{payslip.id}}" target="_blank" class="btn btn-success fa fa-download"></a>
                                                </td>
                                              
                                            </tr>
                                        {% endfor %}
                                           
                                    </table>
                                        
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                </div>
                <!-- sss table -->
                <div class="tab-pane" id="sss" style="position: relative; height: 300px;">
                </div>

                <div class="tab-pane" id=""></div>
            </div>
        </div>
	</section>
</div>

<!-- scripts -->
<script src="/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
    (function($){
        $('#example1').dataTable({
            "bPaginate": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    })(jQuery);
</script>

{% endblock %}