<div class="tab-pane active" id="profile-tabs-201">
					<!-- Basic Information -->
						 <div class="basic-information panel panel-default">
<form method="post">
<input type="hidden" name="id" value="{{ employee.id }}" />		
	<div class="panel-heading">Basic Information
		<button class=" employee_edit employee_edit edit-profile-btn pull-right btn btn-xs btn-default"><i class="fa fa-edit"></i>
		</button>
	</div>
	<div class="panel-body">
		<table class="table">
		 	<tr>
				<td><span class="form-label">Full Name</span>
					<span class="profile-value">{{ employee.getName() }}</span>
					<br>
					<input type="text" name="first_name" class="edit-input  name-input" value="{{ employee.first_name }}">
					<input type="text" name="middle_name" class="edit-input name-input " value="{{ employee.middle_name }}">
					<input type="text" name="last_name" class="edit-input  name-input" value="{{ employee.last_name }}">
				</td>
				<td><span class="form-label">Birthdate</span>
					<span class="profile-value">{{ employee.getBirthdate() }}</span>
					<input type="" name="birthdate" class="edit-input" value="{{ employee.getBirthdate() }}">
				</td>
			</tr>
			<tr>
				<td><span class="form-label">Employee ID</span>{{ employee.getEmployeeID() }}
				<td><span class="form-label">Gender</span>
					<span class="profile-value">{{ employee.getGender() }}</span>
					<input type="text" name="gender" class="edit-input" value="{{ employee.getGender() }}">
				</td>
			</tr>
			<tr>
				<td><span class="form-label">Full Address</span>
					<span class="profile-value">{{ employee.full_address }}</span>
					<input type="text" class="edit-input" name="full_address" value="{{ employee.full_address }}">
				</td>
				<td><span class="form-label">Marital Status</span>
					<span class="profile-value">{{ employee.getMaritalStatus() }}</span>
					<select class="edit-input" name="marital_status">
	                    <option {% if(employee.getMaritalStatus() == "Single") %} selected {% endif %} value="Single">Single
	                    </option>
	                    <option {% if(employee.getMaritalStatus() == "Married") %} selected {% endif %} value="Married">Married
	                    </option>
	                    <option {% if(employee.getMaritalStatus() == "Divorced") %} selected {% endif %} value="Divorced">Divorced
	                    </option>
					    <option {% if(employee.getMaritalStatus() == "Seperated") %} selected {% endif %} value="Seperated">Seperated
					    </option>
					    <option {% if(employee.getMaritalStatus() == "Widowed") %} selected {% endif %} value="Widowed">Widowed
					    </option>
					</select>
				</td>
			</tr>
			<tr>
				<td><span class="form-label">Dependents </span>
					<span class="profile-value">{{ employee.dependents }}</span>
					<select class="form-control edit-input" name="dependents">
	                    <option {% if employee.dependets==0 %} selected="true" {% endif %} value="0">0</option>
	                    <option {% if employee.dependets==1 %} selected="true" {% endif %} value="1">1</option>
	                    <option {% if employee.dependets==1 %} selected="true" {% endif %} value="2">2</option>
	                    <option {% if employee.dependets==1 %} selected="true" {% endif %} value="3">3</option>
	                    <option {% if employee.dependets==1 %} selected="true" {% endif %} value="4">4</option>
	                </select>
				</td>
			</tr>
		</table>

		<div class="save-cancel-btn pull-right">
			<input type="submit" value="Save" class="btn btn-sm btn-save btn-success" />
			<a href="#basic-information" class="btn btn-sm btn-cancel btn-default">Cancel</a>
	</div>
	</div>
</div>
					
<div class="employment-details panel panel-default">
	<div class="panel-heading">Employment Details 
		<button class="pull-right employee_edit edit-profile-btn btn btn-xs btn-default">
			<i class="fa fa-edit"></i>
		</button>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<td><span class="form-label">Employee Status</span>
					<span class="profile-value">{{ employee.getEmployeeType() }}</span>
					<select name="employee_type" id="" class="form-control edit-input">
						<option value="null" {% if employee.getEmployeeType() == null %} selected {% endif %} >None</option>
						{% for employee_type in employee_types %}
						<option value="{{ employee_type.id }}" {% if employee_type.id == employee.getEmployeeTypeId() %} selected {% endif %}>{{ employee_type.getName() }}</option>
						 {% endfor %}
					</select>
				</td>
				<td><span class="form-label">Employee Type</span>
					<span class="profile-value">{{ employee.getPayrollPeriod().group_name }}
					</span>
					<select name="payroll_period"   id="group_name" class="form-control edit-input">
					{% for payroll_group in payroll_groups %}
						 <option {% if payroll_group.id == employee.getPayrollPeriod().id %} selected="selected" {% endif %}value="{{ payroll_group.id }}">{{ payroll_group.group_name }}
						 </option>
					{% endfor %}
					</select>		 	    
				</td>
			</tr>
			<tr>
				<td><span class="form-label">Position</span>
					<span class="profile-value">{{ employee.getJobPosition() }}</span>
					<select name="job_position" class="form-control edit-input">
						{% for position in job_positions %}
						<option {% if position.id == employee.job_position %} selected="selected" {% endif %}value="{{ position.id }}">{{ position.job_position }}</option>
						{% endfor %}
					</select>
				</td>
				<td><span class="form-label">Department</span>
					<span class="profile-value">{{ employee.getDepartment() }}</span>
				 	<select name="department" class="form-control edit-input">
						{% for department in departments %}
						<option {% if department.id == employee.department %} selected="selected" {% endif %}value="{{ department.id }}">{{ department.department_name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
		 		<td><span class="form-label">Date Hired</span>
					<span class="profile-value">{{ employee.getDateHired() }}</span>
					<input name="date_hired" type="text" class="edit-input" value="{{ employee.getDateHired() }}" >
				</td>
				<td><span class="form-label">Date Ended</span>
					<span class="">{{ employee.getDateEnded() }}</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="form-label">Time Shift Starts</span>
					<span class="form-label">{{ employee.getTimeShiftStart() }}</span>
				  	<div class="input-group edit-time bootstrap-timepicker">
				        <input id="timepicker1" value="{{ employee.getTimeShiftStart() }}" type="text" name="timeshift_start" class="timepicker form-control input-small">
				        <span class="input-group-addon">
				        	<i class="glyphicon glyphicon-time"></i>
				        </span>
				    </div>
				</td>
				<td>
					<span class="form-label">Time Shift Ends</span>
					<span class="form-label">{{ employee.getTimeShiftEnd() }}</span>
					<div class="input-group edit-time  bootstrap-timepicker">
					    <input id="timepicker1" value="{{ employee.getTimeShiftEnd() }}" type="text" name="timeshift_end" class="form-control timepicker input-small">
					    <span class="input-group-addon">
					    	<i class="glyphicon glyphicon-time"></i>
					    </span>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="form-label">Branch</span>
					<span class="profile-value">{{ employee.getBranch() }}</span>
					<select name="branch_id" id="branch" class="form-control  edit-input">
					{% for branch in branches %}
						<option {% if branch.id == employee.branch_id %} selected="selected"  {% endif %}value="{{ branch.id }}">{{ branch.branch_name }}</option>
					{% endfor %}
					</select>
				</td>
				<td>
					<span class="form-label">Employee Role</span>
					<span class="profile-value">{{ employee.getRole().name }}</span>
					<select name="role_id" class="form-control  edit-input">
						{% for role in employee.getAllRoles() %}
						 <option {% if role.id == employee.getRole().id %} selected="selected"  {% endif %}value="{{ role.id }}">{{ role.name }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
		</table>
		<div class="save-cancel-btn pull-right">
			<input type="submit" value="Save" class="btn btn-sm btn-save btn-success" />
			<a href="#employee-details" class="btn btn-sm btn-cancel btn-default">Cancel</a>
		</div>
	</div>
</div>
						<!-- Government Details -->
<div class="government-information panel panel-default">
	<div class="panel-heading">Government Details
		<button class="pull-right employee_edit edit-profile-btn btn btn-xs btn-default"><i class="fa fa-edit"></i>
		</button>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<td><span class="form-label">Tax Status</span>
					<span class="profile-value">{{ employee.getMaritalStatus() }}</span>
					<select class="edit-input">
                        <option {% if(employee.getMaritalStatus() == "Single") %} selected {% endif %} value="Single">Single</option>
                        <option {% if(employee.getMaritalStatus() == "Married") %} selected {% endif %} value="Married">Married</option>
                        <option {% if(employee.getMaritalStatus() == "Divorced") %} selected {% endif %} value="Divorced">Divorced</option>
				        <option {% if(employee.getMaritalStatus() == "Seperated") %} selected {% endif %} value="Seperated">Seperated</option>
				        <option {% if(employee.getMaritalStatus() == "Widowed") %} selected {% endif %} value="Widowed">Widowed</option>
				    </select>
				</td>
				<td><span class="form-label">TIN</span>
					<span class="profile-value">{{ employee.getTin() }}</span>
					<input name="tin_number" type="text" class="edit-input" value="{{ employee.getTin() }}" >
				</td>
			</tr>
			<tr>
				<td><span class="form-label">Pagibig</span>
					<span class="profile-value">{{ employee.getPagibig() }}</span>
					<input name="pagibig_number" type="text" class="edit-input" value="{{ employee.getPagibig() }}" >
				</td>
				<td><span class="form-label">SSS</span>
					<span class="profile-value">{{ employee.getSSS() }}</span>
					<input name="sss_number" type="text" class="edit-input" value="{{ employee.getSSS() }}" >
				</td>
			</tr>
			<tr>
				<td><span class="form-label">Philhealth</span>
					<span class="profile-value">{{ employee.getPhilhealthNumber() }}</span>
					<input name="philhealth_number" type="text" class="edit-input" value="{{ employee.getPhilhealthNumber() }}" >
				</td>						 		
			</tr>
						
		</table>
		<div class="save-cancel-btn pull-right">
			<input type="submit" value="Save" class="btn btn-sm btn-///save btn-success" />
			<a href="#basic-information" class="btn btn-sm btn-cancel btn-default">Cancel</a>
		</div>
	</div>

</form>
</div>

</div>

<script type="text/javascript">
    $('#branch').change(function(elem){
            
       	var el = this;
        var group_string = "";
        $.get('/payroll/rest-payroll-group',{id:$(el).val() },function(res){
            $.each(res,function(i,s,a){
                group_string+= '<option value='+s.id+' data-period='+s.period+'>'+s.group_name+'</option>';
           	});
            $('#group_name').html(group_string);
        }); 
    });
</script>