	<div class="tab-pane" id="profile-tabs-benefits">

		 <div class="employment-details panel panel-default">
						  <div class="panel-heading"> Deductions </div>
						  <div class="panel-body">
			{% if employee.getDeductions()|length <= 0  %}
							<div class="">
								
								<center>
								<p><i>
									<i class="fa fa-info-circle"></i> No Deductions Yet.
								</i></p>		
								</center>
							</div>
	{% else %}	

<table class="table table-bordered table-hover dataTable">
	<tr>
		<th>Name</th>
		<th>Recurring</th>
		<th>Amount</th>
		<th>Percentage % (if percentage type )</th>
		<th>Valid from</th>
		<th>Valid to</th>
	</tr>
	{% for deduction in employee.getDeductions() %}
		<tr>
			<td>{{ deduction.getName() }}</td>
			<td>{{ deduction.recurring }}</td>
			<td>{{ deduction.amount }}</td>
			<td>{{ deduction.percentage }}% of {{ deduction.basis }}</td>
			<td>{{ deduction.valid_from }}</td>
			<td>{{ deduction.valid_to }}</td>
		</tr>
	{% endfor %}
</table>
	{% endif %}
			<div class="row">
				<center><a href="" class=" btn btn-success" data-toggle="modal" data-target="#addDeductions">+1 Add Deduction</a></center>
			</div>
	</div>

</div>
</div>

	<form method="post" enctype="multipart/form-data" action="/deductions/employee_add">
	<input type="hidden" value="{{ employee.id }}" name="employee_id">
	<div class="modal fade" id="addDeductions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Deduction</h4>
      </div>
      <div class="modal-body">
      <div class="form-group">
      	<label>Name</label>
      	<select class="form-control" name="deduction_id">
      		{% for deduction in deduction_types %}
	      		<option value="{{ deduction.id }}">{{ deduction.deduction_name }}</option>
      		{% endfor %}
      	</select>
      </div>
      <div class="form-group">
      	<label>Recurring</label>
      	<select class="form-control" name="recurring">
      		<option value="Yes">Yes</option>
      		<option value="No" >No</option>
      	</select>
      </div>
      <div class="form-group">
      	<label>Type</label>
      	<input type="radio" name="deduction_type" value="fix_amount"> Fix Amount
      	<input type="radio" name="deduction_type" value="percentage"> Percentage
      </div>
      <div class="form-group">
      		<label>Amount</label>
      		<input type="text" class="form-control" name="amount">
      </div>
      <div class="form-group">
      	<label>Percentage</label>
      	<input class="form-control" name="percentage" />
      </div>
    	<div class="form-group">
      	<label>Basis</label>
      	<select class="form-control" name="basis">
      		<option value="gross">Gross Pay</option>
      		<option value="net">Net Pay</option>
      	</select>
      </div>
    	<div class="form-group">
    		<label>Valid from</label>
    		<input type="text" name="valid_from" class="form-control datepicker" />
    	</div>
    	<div class="form-group">
    		<label>Valid to</label>
    		<input type="text" name="valid_to" class="form-control datepicker" />
    	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </div>
  </div>
</div>
</form>