				<div class="tab-pane " id="profile-tabs-salary">
							 <div class="panel panel-default">
						  		<div class="panel-heading"><i class="fa fa-dollar"></i> Earnings</div>
						  	 <div class="panel-body">
						  		 <table class="table">
								<tr>
						 			<td><span class="form-label">Basic Pay</span>{{ employee.basic_pay }}</td>
						 			<td><span class="form-label">Payroll Period</span>{{ employee.getPayrollPeriod() }}</td>
						 		</tr>
							 	<tr>
							 		<td><span class="form-label">Withholding Tax Type</span>Compensation</td>
							 		<td><span class="form-label">Expanded Withholding Tax %</span>0%</td>
							 	</tr>
							 	<tr>
							 		<td><span class="form-label">Entitled Night Differential</span>Yes</td>
							 		<td><span class="form-label">Night Differential Rate %</span>0%</td>
							 	</tr>
						 	
						 </table>
						 </div>
						 </div>
						</div> <!-- / .tab-pane -->